@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  background-color: #424242;
}

.wrapper {
  background-color: #47484a;
}

.patient {
  background-color: #262626;
  /* width: 30%; */
}

.patient-title span {
  color: #7f7f7f;
}

.patient-list p:hover {
  background-color: #353739;
  cursor: pointer;
}

.list-active {
  background-color: #353739;
}
.notes-list:hover {
  background-color: #353739;
  cursor: pointer;
}

.notes-list {
  padding: 32px 24px;
}

.notes-list-name p{
  margin-bottom: 16px;
}

.notes {
  background-color: #1f1f1f;
  overflow-y: auto;
}

.note-divider :after {
  content: "";
  background: black;
  position: absolute;
  bottom: 0;
  left: 0;
  height: 50%;
  width: 1px;
}

.wrapper {
  border: 1px solid #7f7f7f;
}

.note-details {
  background-color: #1f1f1f;
}

hr {
  width: 95%;
  margin-left: auto;
  margin-right: auto;
  border-top: 1px solid #4a4b4b;
}

::-webkit-scrollbar {
  width: 0px;
  height: 1px;
}
::-webkit-scrollbar-button {
  width: 0px;
  height: 0px;
}
::-webkit-scrollbar-thumb {
  background: #e1e1e1;
  border: 0px none #7f7f7f;
  border-radius: 50px;
}
::-webkit-scrollbar-thumb:hover {
  background: #7f7f7f;
}
::-webkit-scrollbar-thumb:active {
  background: #000000;
}
::-webkit-scrollbar-track {
  background: #666666;
  border: 0px none #7f7f7f;
  border-radius: 50px;
}
::-webkit-scrollbar-track:hover {
  background: #7f7f7f;
}
::-webkit-scrollbar-track:active {
  background: #7f7f7f;
}
::-webkit-scrollbar-corner {
  background: transparent;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
